// Sass Variables
$blue: #30bee0;
$gray: rgb(203, 199, 199);
$white: aliceblue;
$darkgray: rgb(202, 198, 198);
$orange: rgb(247, 129, 56);
$anim: all 0.3s linear;
$spacing: 0.2rem;
$radius: 0.4rem;
// Sass Variables[

.contactpage {
  background: {
    image: url("../imgs/homeWorld.jpg");
    position: center;
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
  .contact {
    height: 100vh;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 1% 0.7rem 1%;
      border-bottom: 1.5px solid $darkgray;
      width: 90%;
      margin: auto;
      .nav-menu {
        .nav-link {
          text-decoration: none;
          padding: 0 2rem;
          color: $white;
          font-size: 1.8rem;
          letter-spacing: $spacing;
          &:hover {
            color: $blue;
            transition: $anim;
          }
        }
      }
      h1 {
        font-size: 2.5rem;
        letter-spacing: $spacing;
        color: $gray;
      }
      .icons {
        color: $gray;
        display: none;
      }
    }

    .contact-form {
      margin: 7rem auto 2rem auto;
      width: 50%;
      padding: 1rem;
      border-radius: $radius;
      h2 {
        text-align: center;
        color: $white;
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: $spacing;
        margin: 2rem 0;
        span {
          color: $orange;
          font-size: 3.5rem;
        }
      }
      form {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        div {
          position: relative;
          .input-icon {
            position: absolute;
            top: 38%;
            left: 1.5%;
            font-size: 1.8rem;
            text-align: center;
            color: $orange;
            padding: 0 0.5rem;
          }
          input {
            width: 100%;
            color: $white;
            background: transparent;
            margin: 1.5rem auto;
            padding: 1.4rem 2rem 1.4rem 4rem;
            font-size: 1.8rem;
            text-transform: capitalize;
            letter-spacing: $spacing;
            outline: none;
            border: 1.5px solid $blue;
            border-radius: $radius;
          }
          input::placeholder {
            color: $white;
          }
          input:focus {
            transition: $anim;
            box-shadow: 1px 2px $blue;
          }
          input:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .btn {
    display: inline-block;
    padding: 1rem 3.4rem;
    margin-bottom: 3rem;
    button {
      padding: 1.1rem 4rem;
      letter-spacing: $spacing;
      font-size: 1.7rem;
      text-transform: capitalize;
      background: transparent;
      border: 1.5px solid $blue;
      border-radius: 0.3rem;
      color: $white;
      .info-icon {
        padding-right: 1rem;
        font-size: 1.3rem;
      }
      &:hover {
        color: $blue;
        border: 1.5px solid $blue;
        transform: translateY(-5px);
        transition: $anim;
        box-shadow: rgba(142, 141, 141, 0.4) 0px 2px 4px,
          rgba(172, 170, 170, 0.3) 0px 7px 13px -3px,
          rgba(167, 165, 165, 0.2) 0px -3px 0px inset;
      }
    }
  }
}

// Media Query Styles Start
@media (min-width: 0px) and (max-width: 550px) {
  .contactpage {
    .contact {
      height: 100vh;
      nav {
        .nav-menu {
          .nav-link {
            display: none;
          }
        }
        h1 {
          font-size: 2.7rem;
        }
        .icons {
          font-size: 2.2rem;
          border-bottom: none;
          display: block;
        }
      }

      .contact-form {
        width: 90%;
        h2 {
          span {
          }
        }
        form {
          div {
            .input-icon {
            }
            input {
            }
          }
        }
      }
    }
    .btn {
      padding: 1rem 3.5rem;
      button {
        padding: 1rem 3rem;
        &:hover {
        }
      }
    }
  }
}

@media (min-width: 550px) and (max-width: 700px) {
  .contactpage {
    .contact {
      height: 100vh;
      nav {
        .nav-menu {
          .nav-link {
            display: none;
          }
        }
        h1 {
          font-size: 2.7rem;
        }
        .icons {
          font-size: 2.2rem;
          border-bottom: none;
          display: block;
        }
      }

      .contact-form {
        width: 90%;
        h2 {
          span {
          }
        }
        form {
          div {
            .input-icon {
            }
            input {
            }
          }
        }
      }
    }
    .btn {
      padding: 1rem 3.5rem;
      button {
        padding: 1rem 3rem;
        &:hover {
        }
      }
    }
  }
}
// Media Query Styles End
