// Sass Variables
$blue: #30bee0;
$gray: rgb(221, 220, 220);
$orange: rgb(247, 129, 56);
$anim: all 0.3s linear;
$spacing: 0.2rem;
$radius: 0.4rem;
$shadow: rgba(177, 177, 177, 0.4) 0px 2px 4px,
  rgba(181, 180, 180, 0.3) 0px 7px 13px -3px,
  rgba(198, 196, 196, 0.2) 0px -3px 0px inset;
$blueborder: 1.1px solid #30bee0;
// Sass Variables

.home {
  background: {
    image: url("../imgs/homeWorld.jpg");
    position: center;
    size: cover;
    repeat: no-repeat;
  }
}
.home-container {
  height: 100vh;
  position: relative;
  .icons {
    display: none;
  }
  .motto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 35%);
    h1 {
      color: $gray;
      text-transform: capitalize;
      letter-spacing: $spacing;
      font: {
        size: 3rem;
        weight: 500;
      }
      text-align: center;
      span {
        color: $orange;
        font-size: 2.5rem;
      }
    }
    .btn {
      button {
        background: transparent;
        outline: none;
        border: 1.5px solid $gray;
        text-transform: capitalize;
        padding: 1.2rem 3rem;
        letter-spacing: $spacing;
        font-size: 2rem;
        border-radius: $radius;
        color: $gray;
        margin: 3rem 0;
        &:hover {
          border: $blueborder;
          color: $blue;
          cursor: pointer;
          transition: $anim;
          transform: translateY(-3px);
          box-shadow: $shadow;
        }
      }
    }
  }
}

// Media Query Styles Started

@media (min-width: 0px) and (max-width: 450px) {
  html {
    font-size: 58%;
    .home-container {
      height: 100vh;
      position: relative;
      .icons {
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 2.6rem;
        display: block;
        border-bottom: 1.5px solid $gray;
        color: $gray;
        padding-bottom: 1rem;
        width: 90%;
      }
      .nav {
        nav {
          display: none;
          .link {
          }
        }
      }

      .motto {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 25%);
        width: 90%;
        margin: 0 auto;
        h1 {
          color: $gray;
          text-transform: capitalize;
          letter-spacing: $spacing;
          font: {
            size: 3.5rem;
            weight: 500;
          }
          text-align: center;
          span {
            color: $orange;
          }
        }
        .btn {
          button {
            padding: 1.2rem 2.6rem;
            font-size: 2.5rem;
            margin-top: 2.8rem;
          }
        }
      }
    }
  }
}

@media (min-width: 450px) and (max-width: 700px) {
  html {
    font-size: 58%;
    .home-container {
      height: 100vh;
      position: relative;
      .icons {
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 2.6rem;
        display: block;
        border-bottom: 1.5px solid $gray;
        color: $gray;
        padding-bottom: 1rem;
        width: 90%;
      }
      .nav {
        nav {
          display: none;
          .link {
          }
        }
      }

      .motto {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 25%);
        width: 90%;
        margin: 0 auto;
        h1 {
          color: $gray;
          text-transform: capitalize;
          letter-spacing: $spacing;
          font: {
            size: 3.5rem;
            weight: 500;
          }
          text-align: center;
          span {
            color: $orange;
          }
        }
        .btn {
          button {
            padding: 1.2rem 2.6rem;
            font-size: 2.5rem;
            margin-top: 2.8rem;
          }
        }
      }
    }
  }
}

// Media Query Styles Ended
